<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Product Page - Admin HTML Template</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <!-- https://fonts.google.com/specimen/Roboto -->
  <link rel="stylesheet" href="/css/fontawesome.min.css" />
  <!-- https://fontawesome.com/ -->
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <!-- https://getbootstrap.com/ -->
  <link rel="stylesheet" href="/css/templatemo-style.css">
  <!--

	-->
</head>

<body id="reportsPage">


  <div class="container mt-5">
    <div class="row tm-content-row col-12">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add New Category
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="/admin/category/addcategory" method="post" enctype="multipart/form-data">
              <div class="modal-body">
                <div class="form-group mb-3 col">
                  <label for="title" style="color:black ;">Category </label>
                  <input id="title" name="category" type="text" class="form-control validate" required />
                </div>

                <div class="form-group mb-3 col">
                  <label for="formFileLg" class="form-label">Upload the Image</label>
                  <img src="" style="width: 100px; height: auto;" alt="" id="imgView">
                  <input class="form-control " id="formFileLg" type="file" name="image" onchange="viewImage(event)" required/>
                </div>
              </div>
              <div class="modal-footer ">
                {{!-- <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button> --}}
                <button type="submit" class="btn btn-primary ">Done</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {{#if response.categoryExist}}
    <h5 style="color: rgb(255, 164, 164); text-align: center; margin-top: 5rem;">This Category already Exist </h5>
    {{/if}}
    <div class="col-12 row d-flex">
      {{#each categories}}
      <div class="col-4 pb-4 mt-5">



        <div class="card bg-light rounded h-100 p-4">
          <img src="/product-images/{{this.image}}" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">{{this.category}}</h5>

            {{!-- <p class="card-text">{{this.mainhedding}}</p> --}}
            {{!-- <a href="/admin/editSlider/{{this._id}}" class=" btn btn-sm btn-outline-warning col btn m-2">Edit</a>
            --}}

            <a href="/admin/delete-category/{{this._id}}" class=" btn btn-sm btn-outline-danger col btn m-2"
              onclick="return confirm('Are you want Delete ? ')">Delete</a>
          </div>
        </div>

      </div>
      {{/each}}
    </div>
  </div>

  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2022</b> All rights reserved.


      </p>
    </div>
  </footer>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->
  <script>
    $(function () {
      $(".tm-product-name").on("click", function () {
        window.location.href = "edit-product.html";
      });
    });
  </script>
  </div>
</body>
<script>
  function viewImage(event) {
    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
  }
</script>

</html>