<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/css/templatemo-style.css">
</head>

<body id="reportsPage">


    <div class="container mt-5">
        <div class="row tm-content-row col-12">
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCoupon" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/admin/coupon/addcoupon" method="post">
                            <div class="modal-body">
                                <div class="form-group mb-3 col">
                                    <label for="title" style="color:black ;">Copon Id</label>
                                    <input id="title" name="couponId" type="text" class="form-control validate" required />
                                </div>
                                <div class="form-group mb-3 col">
                                    <label for="title" style="color:black ;">Coupon Code</label>
                                    <input id="title" name="couponCode" type="text" class="form-control validate"  required />
                                </div>
                                <div class="form-group mb-3 col">
                                    <label for="title" style="color:black ;">Description</label>
                                    <input id="title" name="description" type="text" class="form-control validate" required />
                                </div>
                                <div class="form-group mb-3 col">
                                    <label for="title" style="color:black ;">Discount</label>
                                    <input id="title" name="discount" type="text" class="form-control validate" required />
                                </div>
                            </div>
                            <div class="modal-footer ">
                                {{!-- <button type="button" class="btn btn-secondary "
                                    data-dismiss="modal">Close</button> --}}
                                <button type="submit" class="btn btn-primary ">Done</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="" id="home">

            <div class="container mt-5">

                <!-- row -->
                <div class="row tm-content-row">


                    <div class="col-12 tm-block-col">
                        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                            <h2 class="tm-block-title">All Coupons</h2>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">COUPON ID</th>
                                        <th scope="col">COUPON CODE</th>
                                        <th scope="col">DISCRIPTION</th>
                                        <th scope="col">DISCOUNT</th>
                                        {{!-- <th scope="col">START DATE</th> --}}
                                        <th scope="col">&nbsp;</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each coupons}}
                                    <tr>
                                        <td><b>{{this.couponId}}</b></td>
                                        <td><b>{{this.couponCode}}</b></td>
                                        <td><b>{{this.description}}</b></td>
                                        <td>{{this.discount}}%</td>
                                        <td>
                                            {{!-- modal button --}}
                                            <button  class=" btn btn-dark p-1" data-toggle="modal"
                                                data-target="#exampleModalCouponEdit{{this._id}}"
                                                style="font-size: small;">Edit</button>

                                            <a href="/admin/coupon/delete-coupon/{{this._id}}"
                                                class=" btn btn-danger p-1" style="font-size: small;"
                                                onclick="return confirm('Are you want Delete ? ')">Delete</a>
                                        </td>

                                    </tr>
                                    {{!-- modal body --}}
                                    <div class="modal fade" id="exampleModalCouponEdit{{this._id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Add New
                                                        Coupon</h5>

                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="/admin/coupon/edit-coupon/{{this._id}}" method="post">
                                                    <div class="modal-body">
                                                        <div class="form-group mb-3 col">
                                                            <label for="title" style="color:black ;">Copon
                                                                Id</label>
                                                            <input id="title" name="couponId" type="text"
                                                                class="form-control validate"
                                                                value="{{this.couponId}}" required />
                                                        </div>
                                                        <div class="form-group mb-3 col">
                                                            <label for="title" style="color:black ;">Coupon
                                                                Code</label>
                                                            <input id="title" name="couponCode" type="text"
                                                                class="form-control validate"
                                                                value="{{this.couponCode}}"  required />
                                                        </div>
                                                        <div class="form-group mb-3 col">
                                                            <label for="title" style="color:black ;">Description</label>
                                                            <input id="title" name="description" type="text"
                                                                class="form-control validate"
                                                                value="{{this.description}}"  required/>
                                                        </div>
                                                        <div class="form-group mb-3 col">
                                                            <label for="title" style="color:black ;">Discount</label>
                                                            <input id="title" name="discount" type="text"
                                                                class="form-control validate"
                                                                value="{{this.discount}}"  required/>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer ">
                                                        {{!-- <button type="button" class="btn btn-secondary "
                                                            data-dismiss="modal">Close</button> --}}
                                                        <button type="submit" class="btn btn-primary ">Edit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each }}
                                </tbody>
                            </table>
                            <div class="pt-2 ">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModalCoupon">
                                    Add New Coupen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="tm-footer row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="text-center text-white mb-0 px-4 small">
                        Copyright &copy; <b>2022</b> All rights reserved.


                    </p>
                </div>
            </footer>

            <script src="/js/jquery-3.3.1.min.js"></script>
            <!-- https://jquery.com/download/ -->
            <script src="/js/bootstrap.min.js"></script>
            <!-- https://getbootstrap.com/ -->
            <script>
                $(function () {
                    $(".tm-product-name").on("click", function () {
                        window.location.href = "edit-product.html";
                    });
                });
            </script>
        </div>
</body>

</html>
<style>
    hr {
        border: none;
        border-top: 1px dashed rgb(6, 6, 6);
        color: #fff;
        background-color: #fff;
        height: 1px;
        width: 100%%;
    }
</style>